#calendar {
	margin-top: 10px;
	border-collapse: collapse;	
}

#calendar td.item {
	width: 116px;
	height: 116px;
	border: 1px solid #ddd;
	vertical-align: top;
  	text-align: left;
  	padding: 4px;  	
}

#calendar .current-date {
	background: #eee;
}

#calendar td.item:hover {
	-moz-box-shadow: 0 4px 3px -3px rgba(0,0,0,0.3); 
    -webkit-box-shadow: 0 4px 3px -3px rgba(0,0,0,0.3); 
	box-shadow: 0 4px 3px -3px rgba(0,0,0,0.3);
}

#calendar td.item div {
	font-size: 11px;	
	color: #444;
}

#calendar td.item div span {
	color: #999;
}

#calendar td.item div span.checked {
	font-weight: bold;
}

#calendar .idea {
	border: 2px solid #0092f4 !important;
	background: #b8dcf4;
}

#date-of-calendar {
	margin-top: 10px;
	margin-bottom: 5px;
}

#message-of-calendar, #people-of-calendar {
	display: none;
	margin-top: 5px;
}

#people-of-calendar {
	font-size: 12px;
}