* {
	padding: 0;
	margin: 0;
}

body {
	background: #d5e2f7;	
	font-family: Helvetica, arial, freesans, clean, sans-serif;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
	padding: 0;
	margin: 0;
}

.radius {
	border-radius: 2px;
  -webkir-border-radius: 2px;
  -moz-border-radius: 2px;
}

.shift-right {
	margin-right: 5px;
}