#nav {
	background: #f4f4f4;
	padding: 60px 40px 30px 40px;
	-moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3); 
    -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3); 
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3); 
}

#nav .buttons button {
	background: #0271c7;
	border: none;
	height: 28px;
	width: 86px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 4px 3px -3px rgba(0,0,0,0.3); 
    -webkit-box-shadow: 0 4px 3px -3px rgba(0,0,0,0.3); 
	box-shadow: 0 4px 3px -3px rgba(0,0,0,0.3); 
}

#nav .search input[type=text] {
	border: 1px solid #ddd;
	width: 220px;
	padding: 5px;
	-moz-box-shadow: inset 0px 2px 6px -3px rgba(0,0,0,1);
    -webkit-box-shadow: inset 0px 2px 6px -3px rgba(0,0,0,1);
	box-shadow: inset 0px 2px 6px -3px rgba(0,0,0,1);
}

#nav .search img {
	position: relative;
	top: 3px;
}